/* 共通 */
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #E6E6FA
}

/* ヘッダ */
#fp-hero {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#fp-hero_title {
  margin-left: 0rem;
}

/* メニュー */
.fp-menu {
  margin-left: 1rem;
}

/* システム名 */
.fp-system-title {
  margin-right: 1rem;
}

/* メインコンテンツエリア */
.fp-content-main {
  margin-right: 1rem;
}

/* select */
#fp-subsystem-select {
  width: 100rem;
}
